/*  Making nav bar responsive */

@media(max-width: 610px){
    #menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: transparent;
        transition: all 0.4s ease-in-out;
    }
    #menu li {
        margin-top: 40px;
    }
    #menu li a{
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ #menu{
        right: 0;
    }
}