/*  Making nav bar responsive */

@media(max-width:1368px) {


    .about_text p {
        font-size: 1.5rem;
    }

    .image img {
        width: 100vw;
        height: 60vh;
    }

    .button_section {
        width: 100%;
        gap: 12px;
        top: 50%;
        justify-content: center;
    }

    .skill_box img {
        width: 15vw;
        height: 15vh;
        justify-content: space-around;
    }

}

@media(max-width:750px) {
    .about_text p {
        font-size: 1rem;
    }

    .button_section {
        top: 40%;
    }
}

@media(max-width: 610px) {
    #menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.4s ease-in-out;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }

    #menu li {
        margin-top: 40px;
    }

    #menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~#menu {
        right: 0;
    }

    .image img {
        width: 100vw;
        height: 60vh;
    }

    .about_text h4 {
        font-size: 1rem;
    }

    .about_text h1 {
        font-size: 1.5rem;
    }

    .about_text p {
        font-size: 0.9rem;
    }

    .button_section {
        width: 100%;
        gap: 12px;
        top: 54%;
    }
    .skill{
        width: 100vw;
        height: 20vh;
        flex-direction: column;
    }

    .skill_box img {
        width: 10vw;
        height: 10vh;
        justify-content: space-around;
    }

    .rejouice {
        width: 100%;
        height: 20%;
    }

    .rejouice img {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .check_my_work{
        display: none;
    }
    .links{
        width: 100vw;
        left: 0;
        right: 0;
        justify-content: space-between;
        bottom:0px
    }
    .tec_links{
        width: 50%;
    }
    .socail_links{
        width: 50%;
    }
    #About{
        top: 0;
    }
    .button_section{
        justify-content: start;
    }
    .button_section a{
        padding: 5px;
    }
    /* skill section responsive code */
}