* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact {
    height: auto;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 12px;
}

.contact-title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.contaxt-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #6666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}

.contaxt-inputs:focus {
    border: 2px solid black;
}

.contaxt-inputs::placeholder {
    color: black;
}

.contact-left button {
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 50px;
    width: 130px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-left button:hover {
    color: white;
    background-color: black;
}


/* media quari */

@media(max-width:750px) {
    form {
        width: 100vh;
        background-color: #f0f0f0;
        color: white;
    }
    .contact-title h2
    {
        color: black;
    }

    .contaxt-inputs {
        width: 300px;
        margin-left: 20px;
    }

    .contact-title h2 {
        font-size: 2rem;
        /* margin-top: 60px; */
        margin-left: 20px;
    }

    .contact-left button {
        margin-left: 20px;
    }
}